In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

df = pd.read_html("https://en.wikipedia.org/wiki/List_of_Royal_Challengers_Bangalore_records")
df[0]

,0,1
0,League,Indian Premier League
1,Personnel,Personnel
2,Captain,Virat Kohli
3,Coach,Simon Katich
4,Owner,United Spirits
5,Team information,Team information
6,City,"Bangalore, Karnataka, India"
7,Colors,(home) (away)
8,Founded,2008
9,Home ground,"M. Chinnaswamy Stadium(Capacity: 40,000)"
10,History,History
11,Indian Premier League wins,None
12,CLT20 wins,0
13,Official website,royalchallengers.com
14,Royal Challengers Bangalore in 2021,Royal Challengers Bangalore in 2021

In [2]:
df = pd.DataFrame(df[0])
df.head()

           0                      1
0     League  Indian Premier League
1  Personnel              Personnel
2    Captain            Virat Kohli
3      Coach           Simon Katich
4      Owner         United Spirits

In [3]:
df.to_excel("Rcb details.xlsx", index=False,header=False)
print("Spreadsheet saved")

Spreadsheet saved

In [8]:
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_Royal_Challengers_Bangalore_records")
data[1]

,Year,Total,Wins,Losses,No result,Tied and won,Tied and lost,Win %,Position,Summary
0,2008,14,4,10,0,0,0,72.43,7th,Group Stage
1,2009,16,9,7,0,0,0,56.25,2nd,Runners-Up
2,2010,16,8,8,0,0,0,50.00,3rd,Play-offs
3,2011,16,10,6,1,0,0,66.67,2nd,Runners-Up
4,2012,16,8,7,1,0,0,53.34,5th,Group Stage
5,2013,16,9,7,0,1,1,56.25,5th,Group Stage
6,2014,14,5,9,0,0,0,35.71%,7th,Group Stage
7,2015,16,8,6,2,0,0,50.00,3rd,Play-offs
8,2016,16,9,7,0,0,0,56.25,2nd,Runners-Up
9,2017,14,3,10,1,0,0,21.43,8th,Group Stage
10,2018,14,6,8,0,0,0,42.86,6th,Group Stage
11,2019,14,5,8,1,0,0,38.46,8th,Group Stage
12,2020,15,7,8,0,1,0,50.00,4th,Play-offs
13,2021,10,6,4,0,0,0,60.00,NaN,NaN
14,Total,207,95,105,6,1,4,47.98,3 times Runners-Up,3 times Runners-Up
15,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®,Last Updated: 27 September 2021®

In [11]:
data.to_excel("Rcb_history.xlsx",index=False,header=False)
print("Spreadsheet saved")

Spreadsheet saved